#inputID::placeholder {
    color:ivory;
    opacity: 1;
}
.react-datepicker__input-container{
    border: none;
    display: block;
    width :100%;
}
.react-datepicker__input-container>input{
    background-color: transparent !important;
    border: none !important;
    color:#495057 !important;
    width: 175%;
}